.answer{
    padding: 12px;
    margin: 12px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 40px !important;

}
.answer:hover{
    opacity: 1;
}
.question{
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    margin-top: 10px;
}
.questionWrapper{
    background: #f5f5f5;
    padding: 20px 0px;
}
.quizWrapper{
    max-width: 800px;
    margin: auto;
    display: block;
}
.bottomWrapper{
    padding: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

 }
